<table id="data_table" class = "search_results" >
  <tr>
    <th>Title</th>
    <th>Manufacturer</th>
    <th>Author</th>
    <th> <%=link_to "Price", :keyword => params['query'] %></th>
    <th>SalesRank</th>
  </tr>
  <% @items.each do |item| %>
  <%= binding.pry %>
  <tr class = "items">
    <td><%= item.ItemAttributes.Title %></td>
    <td><%= item.ItemAttributes.Manufacturer %></td>
    <td><%= item.ItemAttributes.Author %></td>
    <td><%= item.OfferSummary.LowestNewPrice.FormattedPrice %></td>
    <td><%= item.SalesRank %></td>
  </tr>
  <% end %>
</table>
