
<div class="row" >
  <div class="col-md-12">
    <table id="data_table" class = "search_results" >
      <thead>
        <tr>
          <div class="col-md-2">
            <th>Title</th>
          </div>
          <div class="col-md-2">
            <th>Manufacturer</th>
          </div>
          <div class="col-md-2">
            <th>Author</th>
          </div>
          <div class="col-md-3">
            <th>Price</th>
          </div>
          <div class="col-md-3">
            <th>SalesRank</th>
          </div>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
        <tr class = "items">
          <div class="col-md-2">
            <td><%= item.ItemAttributes.Title %></td>
          </div>
          <div class="col-md-2">
            <td><%= item.ItemAttributes.Manufacturer %></td>
          </div>
          <div class="col-md-2">
            <td><%= item.ItemAttributes.Author %></td>
          </div>
          <div class="col-md-3">
            <td><%= item.OfferSummary.LowestNewPrice.FormattedPrice %></td>
          </div>
          <div class="col-md-3">
            <td><%= item.SalesRank %></td>
          </div>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
